affine==2.3.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.10.1
anyio==3.3.0
appdirs==1.4.4
argcomplete==1.12.3
argon2-cffi==20.1.0
asn1crypto==1.4.0
astroid==2.8.0
astropy==4.3.1
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
Automat==20.2.0
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
bcrypt==3.2.0
beautifulsoup4==4.10.0
bitarray==2.3.4
bkcharts==0.2
blaze==0.11.3
bleach==4.1.0
bokeh==2.4.0
boto==2.49.0
Bottleneck==1.3.2
branca==0.4.2
brotlipy==0.7.0
cached-property==1.5.2
cachetools==4.2.1
catboost==0.26.1
category-encoders==2.2.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
cianparser==0.2
click==7.1.2
click-datetime==0.2
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
clyent==1.2.2
colorama==0.4.4
comtypes==1.1.10
conda==4.10.3
conda-build==3.18.8
conda-pack==0.6.0
conda-package-handling==1.7.3
conda-verify==3.4.2
constantly==15.1.0
contextily==1.1.0
contextlib2==21.6.0
coverage==5.5
cryptography==3.4.7
cycler==0.10.0
cykhash==1.0.2
Cython==0.29.24
cytoolz==0.11.0
dask==2021.9.1
dataclasses==0.8
datashape==0.5.4
DAWG-Python==0.7.2
debugpy==1.4.1
decorator==4.4.2
defusedxml==0.7.1
delayed==0.11.0b1
descartes==1.1.0
distributed==2021.9.1
docopt==0.6.2
docutils==0.17.1
dython==0.6.7
entrypoints==0.3
enum34==1.1.6
et-xmlfile==1.0.1
fake-useragent==0.1.11
fastcache==1.1.0
filelock==3.0.12
finam-export==1.0.1
Fiona==1.8.20
Flask==2.0.1
Flask-Cors==3.0.10
folium==0.12.1
fsspec==2021.8.1
future==0.18.2
GDAL==3.3.2
geographiclib==1.52
geojson==2.5.0
geopandas==0.9.0
geopy==2.2.0
gevent==21.8.0
glob2==0.7
google==3.0.0
google-auth==1.4.2
graphviz==0.17
greenlet==1.1.1
h5py==3.4.0
hdbscan==0.8.27
HeapDict==1.0.1
hiredis==2.0.0
html5lib==1.1
hyperlink==21.0.0
hypothesis==6.21.6
idna==3.1
imagecodecs==2021.7.30
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==4.8.1
incremental==21.3.0
iniconfig==1.1.1
ipykernel==6.4.1
ipython==7.27.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.9.3
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
Js2Py==0.71
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.3
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyter-server==1.11.0
jupyterlab==3.1.13
jupyterlab-launcher==0.13.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.1
jupyterlab-widgets==1.0.2
jupyterthemes==0.20.0
kaggle==1.5.10
keyring==23.2.1
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
lesscpy==0.13.0
lightgbm==3.2.1
llvmlite==0.37.0
locket==0.2.0
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mccabe==0.6.1
memory-profiler==0.58.0
menuinst==1.4.16
mercantile==1.2.1
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.2.2
mkl-service==2.4.0
mock==4.0.3
more-itertools==8.10.0
mpmath==1.2.1
msgpack==1.0.2
multipledispatch==0.6.0
munch==2.5.0
navigator-updater==0.2.1
nbclassic==0.3.2
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.6.3
nose==1.3.7
notebook==6.4.4
num2words==0.5.10
numba==0.54.0
numexpr==2.7.3
numpy==1.21.2+mkl
numpydoc==1.1.0
odo==0.5.1
olefile==0.46
openpyxl==3.0.9
OSMPythonTools==0.3.2
packaging==21.0
pandas==1.3.3
pandas-datareader==0.8.0
pandocfilters==1.5.0
parso==0.8.2
partd==1.2.0
path==16.2.0
pathlib2==2.3.6
patsy==0.5.1
pep8==1.7.1
pickleshare==0.7.5
Pillow==8.3.2
pip==21.2.4
pipreqs==0.4.10
pipwin==0.5.1
pkginfo==1.7.1
platformdirs==2.3.0
plotly==4.3.0
pluggy==1.0.0
ply==3.11
pooch==1.5.1
prometheus-client==0.11.0
prompt-toolkit==3.0.20
psutil==5.8.0
py==1.10.0
pyaml==21.8.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycurl==7.44.1
pyerfa==2.0.0
pyflakes==2.3.1
pygeos==0.10.2
Pygments==2.10.0
pyjsparser==2.7.1
pylint==2.11.1
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyodbc==4.0.32
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyPrind==2.11.3
pyproj==3.2.1
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrobuf==0.9.3
pyrosm==0.6.0
pyrsistent==0.17.3
pySmartDL==1.3.4
PySocks==1.7.1
pytest==6.2.5
pytest-arraydiff==0.3
pytest-astropy==0.9.0
pytest-astropy-header==0.1.2
pytest-cov==2.12.1
pytest-doctestplus==0.11.0
pytest-filter-subpackage==0.1.1
pytest-mock==3.6.1
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
pytest-sugar==0.9.4
python-dateutil==2.8.2
python-rapidjson==1.3
python-slugify==4.0.1
pytz==2021.1
PyWavelets==1.1.1
pywin32==301
pywin32-ctypes==0.2.0
pywinpty==1.1.4
PyYAML==5.4.1
pyzmq==22.3.0
QtAwesome==1.0.3
qtconsole==5.1.1
QtPy==1.11.1
rasterio==1.2.8
redis==3.5.3
regex==2021.8.28
requests==2.26.0
requests-cache==0.5.2
requests-unixsocket==0.2.0
retrying==1.3.3
rope==0.20.1
rsa==4.7.2
ruamel-yaml-conda==0.15.80
scikit-image==0.18.3
scikit-learn==0.23.2
scikit-optimize==0.8.1
scikit-plot==0.3.7
scipy==1.7.1
seaborn==0.11.2
selenium==3.141.0
Send2Trash==1.8.0
service-identity==18.1.0
setuptools==58.0.4
Shapely==1.7.1
simplegeneric==0.8.1
singledispatch==0.0.0
sip==4.19.25
six==1.16.0
sklearn==0.0
sniffio==1.2.0
snowballstemmer==2.1.0
snuggs==1.4.7
sortedcollections==2.1.0
sortedcontainers==2.4.0
soupsieve==2.0.1
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy==1.4.24
statsmodels==0.12.2
sympy==1.8
tables==3.6.1
tblib==1.7.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
threadpoolctl==2.2.0
tifffile==2021.8.30
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
transliterate==1.10.2
Twisted==21.7.0
twisted-iocpsupport==1.0.2
typed-ast==1.4.3
typing-extensions==3.10.0.2
tzdata==2021.1
tzlocal==3.0
ujson==4.1.0
unicodecsv==0.14.1
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==2.0.1
wheel==0.37.0
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.1
wrapt==1.12.1
xarray==0.19.0
xgboost==1.4.2
xlrd==2.0.1
XlsxWriter==3.0.1
xlwings==0.24.9
xlwt==1.3.0
yarg==0.1.9
zict==2.0.0
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0
